@charset "utf-8";

/* body */
body {
  padding: 60px 0 0 0;
  background: grey;
}
footer {
  margin-top: 40px;
  background: black;
}

/* navbar */

.navbar {
  background-color: black;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}
.navbar-button{
  margin: 5px 5px;
  color:  white;
  letter-spacing: 0.15em;
}

/* footer */
.footer li{
  display: inline;
  text-align: center;
    margin-left: 8px;
    padding-left: 8px;
  border-left: solid 1px grey;
}
.footer_navi li:last-child{
    border-right: solid 1px grey;
    padding: 0 8px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background: url("/images/live_image1.jpg") center center no-repeat;
  background-size: cover;

}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
 .cover-comments{
    margin: 70px 30px;
    padding: 10px;
    color: white;
   border:double black;
  border-width:0 0 0 10px;
}
 .cover-comments h4{
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
}
.cover .cover-inner .cover-contents {
    margin: 50px;
    padding: 50px;
  display: table-cell;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.cover-tabs{
  width: 984px;
  margin: 0 auto;
  margin-bottom: 16px;
  
}
.tab-content {
  width: 984px;
  margin-left: 20px;
  margin-top: 16px;
}
/* item */
.panel-image{
  height: 200px;
  width:  200px;
margin: auto;
}
.idols.panel-body {
  height: 120px;
}

.buttons form {
  display: inline-block;
  margin: 0 5px;
}

.main-panel-heading{
    height: 700px;
  width:  700px;
margin: auto;
}
/* users */
.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1.5px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 20px;
  color: black
}
.user-profile .status ul li .status-value {
  font-size: 20px;
  color: black;
}

/* idol new */
.idol-formcontent .text-field{
  height: 300px;
}


/* ranking panel footer */
.panel-heading{
  font-size: 30px;
}
.panel-footer{
  font-size: 15px;
}
.idol-name{
  font-size: 18px;
}

/* inquiry */
.inquiry-label{
  text-decoration: underline;
}