<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
    <div class="panel-heading"><h1><%= @inquiry.user %> さんからのメッセージ詳細</h1></div>
    <div class="panel-body">
      <div class="form-group">
        <div class="inquiry-label" ><h4>メール</h4></div>
        <p><%= @inquiry.email %></p>
      </div>
      <div class="form-group">
        <div class="inquiry-label" ><h4>問い合わせ内容</h4></div>
        <p><%= @inquiry.content %></p>
      </div>
      </div>
    </div>
  </div>
</div>